<section id="cart_items">
  <div class="container">

    <div class="step-one">
      <h2 class="heading">Step1 - User Detail</h2>
    </div>
    <div class="checkout-options">
      <ul class="nav">
        <li>
          <label><b>LOGIN ID : </b></label>
        </li>
        <li>
          <label><%= current_user.email %></label>
        </li>
        <li>
          <label><b>NAME : </b></label>
        </li>
        <li>
          <label><%= current_user.first_name %></label>
        </li>
      </ul>
    </div><!--/checkout-options-->

    <div class="step-one">
      <h2 class="heading">Step2 - Address</h2>
    </div><!--/register-req-->
    <div class="shopper-informations">
      <% if current_user.addresses.present? %>
        <%= render 'check_outs/show_address' %>
      <% else %>
        <div style="margin-left: 30px">
          <%= link_to "Add New Addresss", new_address_path, class: "btn btn-width2", remote: true %>
        </div>
      <% end %>
    </div>
  </div>
</section> <!--/#cart_items-->