<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello <%= @contact.name%></h2>
    <p><%= @contact.reply %></p>
    <p>Thank and Regards</p>
    <%= image_tag attachments['logo.png'].url %>
  </body>
</html>