<div class="category-tab"><!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
    <% if @sub_categories.present? %>
      <% @sub_categories.each_with_index do |sub_category,index| %>
        <li class="<%= "active" if @sub_category.id == sub_category.id %>">
        <%= link_to sub_category.name,category_brand_path(id: @brand.id,sub_category: sub_category.id) %>
        </li>
      <% end %> 
    <% end %>  
    </ul>
  </div>
  <% @products = @sub_category.products & @brand.products %>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products-<%= product.id %>">
            <%= render 'components/product_increase', product: product %>
          </div>
        </div>
      </div>
    <% end %> 
  <% else %>
    <div class="col-sm-12">
      <div class="product-image-wrapper">
        <div class="single-products">
          <br>
          <h2 style="text-align: center;">No Product Available</h1>
          <br>
        </div>
      </div>
    </div>  
  <% end %> 
</div><!--/category-tab-->